<div class="d-flex justify-content-center p-5">
  <div class="w-25">

    <div *ngIf="memo" class="form-check d-flex justify-content-center">
      <input class="form-check-input" type="checkbox" id="finishedCheckbox" [(ngModel)]="finished">
      <label class="form-check-label" for="finishedCheckbox">
        Finished
      </label>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Title</span>
      <input type="text" class="form-control" [(ngModel)]="title">
    </div>

    <div class="input-group mb-3">
      <div class="form-floating">
        <textarea [(ngModel)]="body" class="form-control" placeholder="Enter your note here" id="bodyInput" style="height: 100px"></textarea>
      </div>
    </div>

    <div *ngIf="!memo" class="d-flex justify-content-center">
      <button class="btn btn-primary" (click)="onCreate()">Create</button>
    </div>

    <div *ngIf="memo" class="d-flex justify-content-around">
      <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
      <button class="btn btn-primary" (click)="onUpdate()">Update</button>
    </div>

  </div>
</div>
