<nav class="navbar bg-primary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1 text-light">Memos</span>

    <button *ngIf="!isLoggedIn" class="btn btn-outline-light" (click)="onClick()">
      {{isRegistering ? "Login" : "Create Account" }}
    </button>

    <button *ngIf="isLoggedIn" class="btn btn-outline-light" (click)="onLogout()">logout</button>

  </div>
</nav>

<div *ngIf="!isLoggedIn">
  <app-register *ngIf="isRegistering"></app-register>
  <app-login *ngIf="!isRegistering"></app-login>
  <br>
</div>

<div *ngIf="isLoggedIn">
  <div *ngIf="memoToUpdate">
    <app-memo-input [memo]="memoToUpdate"></app-memo-input>
  </div>
  <div *ngIf="!memoToUpdate">
    <h3 class="text-center pt-3">Create New Memo</h3>
    <app-memo-input></app-memo-input>
    <app-memo-list></app-memo-list>
  </div>
</div>
